.preview_box {
    width: 100%;
    height: 100%;
}

.progress_label {
    max-height: 50px;
    min-height: 50px;
    overflow: hidden;
    font-size: 20px;
}

.refresh_button {
    width: 25px;
    height: 25px;
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 12px;
    padding: 0;
}

#style_select_row, #model_select_row {
    position: relative;
}

.progress_label .output-class {
    font-size: 20px;
    margin: 0;
    padding: 0;
    top: 6px;
    position: relative;
    display: block;
    text-align: center;
}

.preview_col {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.preview_slider .slider-wrap {
    height: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    display:flex;
}

.preview_slider img {
    height: var(--size-full);
    object-fit: cover;
}

.preview_slider .wrapper {
    position: relative;
    /* width: 100%; */
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.full_slider {
    width: 100%;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    overflow: hidden;
}

.slider_button.full {
    position: fixed !important;
    z-index: 100;
}

.slider_button {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

#fullscreen_button {
    top: 10px; /* Adjust as needed for spacing from the top */
    right: 10px; /* Distance of the first button from the right, including space for the second button and some padding */
    transform: none; /* Removed to position at the top correctly */
}

#download_button {
    top: 10px; /* Adjust as needed for spacing from the top */
    right: 40px; /* Adjust as needed for spacing from the right edge */
    transform: none; /* Removed to position at the top correctly */
}


